@media screen and (max-width:1499px){
	.error_wrapper img{width:400px;}
	.error_wrapper h1{font-size:40px;}
	.error_wrapper h4{font-size:18px;max-width:420px;}
	.error_wrapper ul li a{font-size:15px;}
}
@media screen and (min-width:768px){
	.search_form_wrap{
		display: initial;
	}
}
@media (min-width:768px) and (max-width:1199px){
	.toggle-menu-height{height: 47px !important;overflow: hidden !important; transition:height .25s;}
}
@media screen and (max-width:1199px){
	/*---------index-page-css-------------*/
	.popup_bg{background-size:cover;}
	.nearby{width: 120px;}
	.city_box{width:150px;}
	.sorting-div-inner .form-group:nth-child(1) .form-control{width:69%;}
	.sorting-div-inner .form-group:nth-child(2) .form-control { width: 71%;}
	.navigation_bar .navbar-default li a { font-size: 14px;padding: 15px 19px;}
	.newsletter_wrap .news_letter_content_wrap { padding-top: 14px;}
	/*---------index-page-css-end-------------*/
}
@media screen and (max-width:991px){
	/*---------index-page-css-------------*/
	section{padding:20px 0px 20px;}
	.navigation_bar .navbar-default li a {padding: 13px 14px 10px;}
	.exclusive_coupan a .hover_div .hover_text_wrap h3 {font-size: 19px;line-height: 20px;}
	.exclusive_coupan a .hover_div .hover_text_wrap h4 {font-size: 16px;line-height: 20px;}
	.exclusive_coupan a .hover_div .hover_text_wrap h5 {font-size: 14px;}
	.online_coupan_link{margin-bottom: 30px}
	.search_form_wrap .form-group.serach_ct_field{width:140px;}
	.sorting-div{width:76%; left: 25.2%;}
	.sorting-div-inner .form-group:nth-child(1) .form-control {width: 55%;}
	.cat_coupons_wrapper .sorting-div-inner .form-control{font-size:12px;padding:0px 10px !important;}
	.sorting-div-inner .form-group:nth-child(2) .form-control{width:58%;}
	/*.sorting-div-inner .form-group:nth-child(3) .form-control{width:58%;}*/
	.post_coupon_detail .coupon_button{font-size: 14px;padding:2px 10px 3px;}
	.post_coupon_detail .print_button {font-size: 14px;padding:2px 10px 3px;overflow: hidden;}
	.newsletter_wrap{margin-top:-70px;}
	.newsletter_wrap .news_letter_content_wrap{padding-top:10px;}
	.newsletter_wrap h3{font-size:18px;}
	.newsletter_wrap form .form-group{width:auto;}
	.newsletter_wrap p {line-height: 22px;}
	.newsletter_wrap img{margin-top:10px;}
	/*---------index-page-css-end-------------*/
	/*---coupon-detail-page-css-start----------*/
	.post_address .store-pic{height:auto;}
}
@media screen and (max-width:767px){
	/*---------index-page-css-------------*/
	.topheader { padding-top: 15px;padding-bottom: 15px;}
	.topheader img{width:130px;}
	.topheader .col-xs-7 a { float:left;width:120px;}
	.mobile_to_center{text-align: center; padding-top: 12px;}
	.navbar-toggle{padding: 5px 6px;margin-left:15px;border:none;background:#1D6303;}
	.navbar-toggle:hover,.navbar-toggle:focus{background:#1A5006!important;color:#fff;}
	.navbar-toggle .icon-bar{width:15px;}
	.navigation_bar .navbar-default li a,
	.navigation_bar .navbar-default li a:hover,
	.navigation_bar .navbar-default li.active a{border-bottom:1px solid #1D450F !important;}
	.search_form_wrap .form-group.serach_ct_field{width:100%;}
	.navigation_bar .navbar-default .nav.navbar-nav{margin-top:0px;}
	.navigation_bar .navbar-default li a {font-size: 13px;padding: 10px 15px;}
	.online_coupan_link ul{width: 100%}
	.left_side_line::before{display: none}
	.city_box,.nearby,.search_form_wrap .btn{width: 100%;margin: 10px 0 0 0;float: left;}
	.location_button {float: left;margin-left: 15px;color: #fff;font-size: 15px;padding:1px 7px 4px;margin-bottom: 0px; margin-top: 7px;}
	.heading_text_wrap h2{font-size:20px; margin-bottom: 10px;}
	.heading_text_wrap .btn {font-size: 14px;line-height: 12px;}
	.how_it_work_page_content h2{font-size: 18px;}
	.how_it_work_page_content p{font-size: 16px}
	.heading_page h2{font-size:30px;}
	.coupon_post::after{display: none;}
	.product_title{font-size:20px;}
	.post_coupon_detail .coupon_button{display:inline-block;font-size: 12px;margin-bottom: 10px;padding: 4px;}
	.post_coupon_detail .print_button {font-size: 12px;padding: 4px;overflow: hidden;}
	.post_coupon_detail .print_button .fa{margin-right: 12px;}
	.post_coupon_detail .post_menu_button .ylew_btn{font-size: 14px;padding: 3px 6px;}
	.post_coupon_detail .post_note{margin-bottom: 20px}
	.post_coupon_detail .post_menu_button .map_btn{font-size: 14px;}
	.post_coupon_detail .post_menu_button .post_like_unlike button { font-size: 18px; margin-top: 1px;}
	.post_detail h3{margin-bottom:6px;}
	.post_detail p{font-size: 16px;}
	.review_section h2{margin:10px 0px }
	.post_address p{font-size: 14px;line-height:20px}
	.post_address p a{font-size: 15px;}
	.exclusive_coupan .cpn_adjst_img {margin-bottom: 20px;}
	.cat_coupons_wrapper .left-pane .filters_header h4{position:relative;}
	.filter_toggle{padding-right: 15px;color: #fff;width: 100%;position: absolute;height: 100%;top: 0;text-align: right;padding-top: 11px;}
	.filter_toggle:hover,.filter_toggle:focus{padding-right:15px; color:#F69C13;}
	.filter_inner_wrap{display:none;}
	.sorting-div{position:relative;width: 100%;top:15px;left: 0%;padding-left: 0px;}
	.sorting-div .sorting-div-inner{padding:15px 15px 0px;}
	.sorting-div-inner .form-group { width:25%;  display: inline-block;}
	.sorting-div .sorting-div-inner h4{float:left;width:50px;line-height: 22px;padding: 0px 3px;}
	.sorting-div .sorting-div-inner .form-group .form-control{float:right;width:calc(100% - 50px)!important;margin:0px;}
	.sorting-div-inner .easy-autocomplete{width:100%!important; display:block;}
	.sorting-div .sorting-div-inner .form-group .btn{float:right;}
	.cat_coupons_wrapper .right-pane .exclusive_coupan{padding-top:20px;border-top:none;}
	.left_side_line{margin:30px 0px;}
	.deals_you_like{width:100%; height:150px;border-right:none;border-left:none;border-bottom:10px solid #fff; transition:height .25s;position:relative;}
	.deals_event h3{font-size:30px; transform:rotate(0deg); margin-top:20px;}
	.deals_event:hover .deals_you_like:hover{width:100%; height:auto;padding-bottom: 75px;}
	.deals_event:hover .deals_you_like{	width:100%;}
	.newsletter_wrap img{margin:0 auto;display:block;}
	.footer_wrap{padding-bottom:0px;}
	.footer_wrap .col-xs-6 {min-height:174px;margin:0px 0px 30px;}
	/*---------index-page-css-end-------------*/
	/*---coupon-deatil-page-css- start---*/
	.cat_coupons_wrapper .left-pane{padding-right: 15px;}
	.coupon_post{border:none;}
	.coupon_post:before,.coupon_post:after {display:none;}
	.post_address{padding-right:15px;}
	.post_address .col-xs-12{padding:0px;}
	.post_coupon_listing{padding-left:15px;}
	.search_form_wrap{position: initial;padding: 0px;}
	/*.topheader_srch_frm{position: initial;height: 0px;max-width: 100%;padding:0px 15px;transition: all .5s ease-in-out;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;-ms-transition: all 1s ease-in-out;}
	.topheader_srch_frm .onhover_button {width: 36px;top: 33px;right: 15px;}
	.topheader_srch_frm:hover, .topheader_srch_frm:focus{height: 42px;padding: 0px 15px;transition: all .5s ease-in-out;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;-ms-transition: all 1s ease-in-out;}*/
	.topheader_srch_frm{height:44px;}
	.topheader_srch_frm .btn{width:auto;}
	.search_form_container .btn { padding: 16px 8px; line-height: 1px;}
	.signup_wrap .easy-autocomplete{width:100% !important;}
}
@media screen and (max-width:591px){
	.post_detail table thead, 
	.post_detail table tbody, 
	.post_detail table th, 
	.post_detail table td,
	.post_detail table tr { 
		display: block; 
	}
	.post_detail table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.post_detail table tr { border: 1px solid #ccc; }
	.post_detail table td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left:35%; 
		text-align:left;
	}
	.post_detail table td:before { 
		position: absolute;
		text-align:left;
		top: 6px;
		left: 6px;
		width:30%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	.post_detail table td:nth-of-type(1):before { content: "Monday"; }
	.post_detail table td:nth-of-type(2):before { content: "Tuesday"; }
	.post_detail table td:nth-of-type(3):before { content: "Wednesday"; }
	.post_detail table td:nth-of-type(4):before { content: "Thursday"; }
	.post_detail table td:nth-of-type(5):before { content: "Friday"; }
	.post_detail table td:nth-of-type(6):before { content: "Saturday"; }
	.post_detail table td:nth-of-type(7):before { content: "Sunday"; }

	.sorting-div-inner .form-group { width: 47% !important; float: left; margin-right: 12px;}
	.sorting-div-inner .easy-autocomplete{width: 100% !important;display: inherit;}

}
@media screen and (max-width:550px){
	.exclusive_coupan .cpn_adjst_img{
		width: 100%;
	}
}
@media screen and (max-width:479px){
	.select_city{width:100%;margin-bottom:20px;}
	.selct_location_wrap{width:100%;}
	.select_city_form .btn{margin-left:0px;}
	.select_city_form .btn,.optional_text{width:100%;}
	.sorting-div .sorting-div-inner .form-group{float:left;width:100% !important;}
	.sorting-div-inner .easy-autocomplete{width:100% !important; display:inherit;}
	.topheader .col-xs-4{width:100%;}
	.topheader .col-xs-8{width:100%;}
	.maxwdth_479{float:right;display: block;}
	.minwdth_480{display:none;}
	.topheader .search_form_wrap{position:relative;padding:0px 15px; height:0px;visibility: hidden;}
	.topheader .search_form_wrap.adjstheight{height:auto;transition:height 1s;visibility: visible;}
	.topheader_srch_frm.searchform{padding-right:0px;}
	.topheader_srch_frm .form-group{transition: opacity .00025s;}
}
@media screen and (max-width:403px){
	.share_with_socila_media{float:right;width:100%;margin-top:8px;}
}