@media screen and (max-width:1499px){
	.error_wrapper img{width:400px;}
	.error_wrapper h1{font-size:40px;}
	.error_wrapper h4{font-size:18px;max-width:420px;}
	.error_wrapper ul li a{font-size:15px;}
}
@media screen and (min-width:768px){
	.search_form_wrap{
		display: initial;
	}
}
@media screen and (max-width:1199px){
	/*---------index-page-css-------------*/
	.popup_bg{background-size:cover;}
	.nearby{width: 120px;}
	.city_box{width:150px;}
	.navigation_bar .navbar-default li a { font-size: 14px;padding: 15px 19px;}
	/*---------index-page-css-end-------------*/
}
@media screen and (max-width:991px){
	/*---------index-page-css-------------*/
	.navigation_bar .navbar-default li a {font-size: 13px;padding: 10px 5px;}
	.exclusive_coupan a .hover_div .hover_text_wrap h3 {font-size: 19px;line-height: 20px;}
	.exclusive_coupan a .hover_div .hover_text_wrap h4 {font-size: 16px;line-height: 20px;}
	.exclusive_coupan a .hover_div .hover_text_wrap h5 {font-size: 14px;}
	.online_coupan_link{margin-bottom: 30px}
	.search_form_wrap .form-group.serach_ct_field{width:140px;}
	.sorting-div{width:76%; left: 25.2%;}
	.sorting-div-inner .form-group:nth-child(1) .form-control {width: 55%;}
	.cat_coupons_wrapper .sorting-div-inner .form-control{font-size:12px;padding:0px 10px !important;}
	.sorting-div-inner .form-group:nth-child(2) .form-control{width:58%;}
	.sorting-div-inner .form-group:nth-child(3) .form-control{width:58%;}
	/*---------index-page-css-end-------------*/
}
@media screen and (max-width:767px){
	/*---------index-page-css-------------*/
	.topheader { padding-top: 15px;padding-bottom: 15px;}
	.topheader .col-xs-7 a { float:left;width:120px;}
	.mobile_to_center{text-align: center; padding-top: 12px;}
	.navbar-toggle{padding: 5px 6px;margin-left:15px;border:none;background:#1D6303;}
	.navbar-toggle:hover,.navbar-toggle:focus{background:#1A5006!important;color:#fff;}
	.navbar-toggle .icon-bar{width:15px;}
	.search_form_wrap .form-group.serach_ct_field{width:100%;}
	.navigation_bar .navbar-default .nav.navbar-nav{margin-top:0px;}
	.navigation_bar .navbar-default li a {font-size: 13px;padding: 10px 15px;}
	.online_coupan_link ul{width: 100%}
	.left_side_line::before{display: none}
	.city_box,.nearby,.search_form_wrap .btn{width: 100%;margin: 10px 0 0 0;float: left;}
	.location_button {float: left;margin-left: 15px;color: #fff;font-size: 15px;padding:1px 7px 4px;margin-bottom: 0px; margin-top: 7px;}
	.heading_text_wrap h2{font-size:20px; margin-bottom: 10px;}
	.heading_text_wrap .btn {font-size: 14px;line-height: 12px;}
	.how_it_work_page_content h2{font-size: 28px;}
	.how_it_work_page_content p{font-size: 16px}
	.heading_page h2{font-size: 42px;}
	.coupon_post::after{display: none;}
	.product_title{padding-top: 0px;font-size:20px;}
	.post_coupon_detail .coupon_button{font-size: 16px;margin-bottom: 10px;padding: 4px 10px;}
	.post_coupon_detail .print_button {font-size: 16px;padding: 2px 17px;width: 37px;padding: 4px 10px;overflow: hidden;}
	.post_coupon_detail .print_button .fa{margin-right: 12px;}
	.post_coupon_detail .post_menu_button .ylew_btn{font-size: 14px;padding: 3px 6px;}
	.post_coupon_detail .post_note{margin-bottom: 20px}
	.post_coupon_detail .post_menu_button .map_btn{font-size: 14px;}
	.post_coupon_detail .post_menu_button .post_like_unlike button { font-size: 14px; margin-top: 8px;}
	.post_detail h3{font-size: 22px;}
	.post_detail p{font-size: 16px;}
	.review_section h2{font-size: 28px; margin:10px 0px }
	.post_detail h3 {font-size: 21px;}
	.post_address p{font-size: 20px;line-height: 26px}
	.post_address p a{font-size: 18px;}
	.exclusive_coupan .cpn_adjst_img {width: 100%;margin-bottom: 20px;}
	.filter_toggle{padding-right:15px; color:#fff;}
	.filter_toggle:hover,.filter_toggle:focus{padding-right:15px; color:#F69C13;}
	.filter_inner_wrap{display:none;}
	.sorting-div{position:relative;width: 100%;top:15px;left: 0%;padding-left: 0px;}
	.sorting-div .sorting-div-inner{padding:15px 15px 0px;}
	.sorting-div .sorting-div-inner .form-group{float:left;width:100% !important;}
	.sorting-div .sorting-div-inner h4{float:left;width:50px;line-height: 22px;}
	.sorting-div .sorting-div-inner .form-group .form-control{float:right;width:calc(100% - 65px)!important;margin:0px;}
	.sorting-div .sorting-div-inner .form-group .btn{float:right;}
	.cat_coupons_wrapper .right-pane .exclusive_coupan{padding-top:20px;}
	/*---------index-page-css-end-------------*/
	/*-----category-page----*/
	.cat_coupons_wrapper .left-pane{padding-left: 0px;}
}

@media screen and (max-width:479px){
	.select_city{width:100%;margin-bottom:20px;}
	.selct_location_wrap{width:100%;}
	.select_city_form .btn{margin-left:0px;}
	.select_city_form .btn,.optional_text{width:100%;}

}